/*Style généraux peut importe le device*/


/*police utilisée*/

@font-face
{
  font-family: "fontawesome_regular", arial, sans-serif;
  src: url("/fonts/fontawesome-regular-webfont.woff") format("woff"),
  url("/fonts/fontawesome-regular-webfont.ttf") format("truetype"),
  url("/fonts/fontawesome-regular-webfont.eot") format("eot"),
  url("/fonts/fontawesome-regular-webfont.svg") format("svg");

  font-family: "glyphicons_halflings_regular", arial, sans-serif;
  src: url("/fonts/glyphicons-halflings-regular.woff") format("woff"),
  url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
  url("/fonts/glyphicons-halflings-regular.eot") format("eot"),
  url("/fonts/glyphicons-halflings-regular.svg") format("svg");

  font-style: normal;
  font-weight: normal;
}

body
{
  font-family: "fontawesome_regular", arial, sans-serif;
}

h1 {
 font-weight: bold;
 padding-top: 15px;
}


/*____________________________header_________________________________________*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #C0C0C0;
}

/*________________________________slider___________________________________________*/

#container {
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px double #C0C0C0;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #C0C0C0;
    margin-top: 10px;
    margin-bottom: 15px;
    max-width: 80%;
    position: relative;
}

#slider {
    position:relative;
    margin:auto;
    max-width: 80%;
}

#slider ul li {
    list-style-type: none;
}

#slider ul {
      padding: 0px;
}

#slider ul li img {
    max-width: 100%;
    margin: auto;
}

#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 45px;
  margin-top: -22px;
  padding: 6px; /*16px*/
  color: black;
  font-weight: bold;
  font-size: 18px;
}

#next {
  right: 0;
  top: 70px;
}

#prev {
    left: 0;
    top: 70px;
}

#prev:hover {
  border: 2px solid rgb(73, 67, 83);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: rgb(73, 67, 83);
  color: white;
 }

 #next:hover {
  border: 2px solid rgb(73, 67, 83);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: rgb(73, 67, 83);
  color: white;
 }

 #keyboard {
  display: none;
}


/*_______________________google map_________________________________________*/

#map {
  height: 600px;
  width: 80%;
  margin: auto;
  border-radius: 4px;
  border: 1px solid #C0C0C0;
  box-shadow: 1px 1px 12px #C0C0C0;
}

/*_________________________div infos stations_______________________________________________*/

#info_stations {
height: 500px;
flex-direction: column;
justify-content: center;
align-items: center;
display: none;
border: 1px double #C0C0C0;
border-radius: 3px;
box-shadow: 1px 1px 12px #C0C0C0;
max-width: 80%;
margin: auto;
padding-bottom: 10px;
margin-top: 15px;
}

#info_stations ul {
  max-width: 80%;
  margin-bottom: 30px;
}

p#name_station {
  text-align: center;
}

p#address_station {
  text-align: center;
}

#title_info {
    text-decoration: underline;
}

#title_info, input {
 font-weight: bold;
}

/*_______________________________________canvas__________________________________________*/

#form_canvas {
height: 400px;
width: 300px;
border: 1px solid #C0C0C0;
margin: auto;
padding-bottom: 10px;
padding-top: 15px;
border-radius: 3px;
box-shadow: 1px 1px 12px #C0C0C0;
margin-top: 15px;
display: none;
padding-top: 40px;
}

#first_name {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

#last_name {
  justify-content: center;
  display: flex;
  margin-bottom: 35px;
}

#title_signature {
  justify-content: center;
  display: flex;
}

input#input_first_name {
  border: 1px solid black;
}

input#input_last_name {
  border: 1px solid black;
}

canvas {
  width: 250px;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 60px;
  display: flex;
  margin: auto;
  margin-bottom: 20px;
}

#valid_button {
  margin: auto;
  display: flex;
}

#clear_button {
  margin: auto;
  display: flex;
}

/*_____________________________________compteur_____________________________________*/

#container_count_down{
    font-size: 12px;
    color: black;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #C0C0C0;
    max-width: 80%;
    margin: auto;
    margin-top: auto;
    text-align: center;
    margin-top: 15px;
    padding: 20px 0px 20px 0px;
}


/*__________________________footer_________________________________________*/

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* margin: auto; */
    height: 100px;
    background-color: #C0C0C0;
    font-weight: bold;
    margin-top: 15px;
}



/*===================================Media queries tablets============================*/

@media(min-width:768px) {

  /*_____________________slider____________________*/
  #prev, #next {
    padding: 10px; /*16px*/
  }
  
  #next {
    right: 0;
    top: 150px;
  }
  
  #prev {
      left: 0;
      top: 150px;
  }

  /*_______________________compteur______________________________*/

  #container_count_down {
   font-size: 20px;
  }
}

/*=====================================Media queries desktop=============================*/

@media(min-width:991px) {

  /*____________slider_______________________*/

  #keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  display: "";
  }

  #prev, #next {
    padding: 20px;
    font-size: 30px;
  }
  
  #next {
    right: 0;
    top: 250px;
  }
  
  #prev {
      left: 0;
      top: 250px;
  }

  /*________________div infos stations_______________________*/

  #info_stations {
  font-size: 20px;
  }

  /*________________compteur________________________________*/

  div#container_count_down {
    font-size: 25px;
  }

  /*_________________footer_________________________________*/

  footer {
    font-size: 20px;
  }

}